NEXT_PUBLIC_POSTHOG_KEY=YOUR_POSTHOG_KEY
NEXT_PUBLIC_POSTHOG_HOST=YOUR_POSTHOG_HOST

NEXT_PUBLIC_API_BASE_URL=https://your-api-base-url.com

NEXT_PUBLIC_MARKETPLACE_HOST=https://api.visualible.com/ebook-v1/
NEXT_PUBLIC_AWS_HOST=https://api.visualible.com/aws-v1/
NEXT_PUBLIC_FILE_HOST=https://content.visualible.com/
