[submodule "packages/js-mdict"]
	path = packages/js-mdict
	url = https://github.com/readest/js-mdict.git
[submodule "packages/simplecc-wasm"]
	path = packages/simplecc-wasm
	url = https://github.com/readest/simplecc-wasm.git
